*{
  font-family: 'Segoe UI',sans-serif;
}
.card{
  border-radius: 2em;
  box-shadow: 0 1px 10px rgba(0,0,0,.2);
  flex-grow: 1;
  background-color: #e1f2fe;
}
.card-img-top {
  aspect-ratio: 1 / 1 ;//unnecessary
  border-radius: 2em;

  //resize image
  width: auto;
  height: 170px;

  // height: 20vw;
  // object-fit: cover;
}
.card-title{
  &:hover{
    text-decoration: underline;
  }
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.btn{
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.card-body{
  padding-bottom: 48px;
}

@media screen and (max-width: 496px){
  .card-img-top {
    aspect-ratio: 1 / 1 ;//unnecessary
    border-radius: 2em;
    width: auto;
    height: 150px;
  }
  .card-title{
    font-size: .9rem;
  }
  .card-text{
    font-size: .8rem;
  }
  .btn{
    font-size: .8rem;
  }
}

