table {
    th,
    td {
      text-align: center;
  
    }
  
    tr:hover {
      background-color: #f5f5f5;
      cursor: pointer;
    }
    .btn-container{
      .btn-edit,
      .btn-delete{
        background: #fff;
        text-align: center;
        width: 3rem;
        min-width: 3rem;
        border-radius: 0.313rem;
        padding: 0.313rem;
        font-size: 24px;
        font-weight: 900;
        cursor: pointer;
        border: none;
    }
    }
  
  }
  
  img {
    width: auto;
    height: 160px;
  }