// .navbar{
//   justify-content: space-between;
// }
// span{
//   padding-right: 1rem;
// }
// .active_nav{
//   border-bottom:3px solid #3ddc84;
//   color:#202124;
// }
.active_nav::after{
  height: 3px;
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  background: #3ddc84;
  transform: none!important;
}
.nav_item{
  position: relative;

  &::after{
    content: '';
    position: absolute;
    height: 3px;
    display: block;
    width: 100%;
    background: #3ddc84;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 150ms ease;
  }
  &:hover::after {
    transform: scaleX(1);
  }
}
a{
  text-decoration: none;
  color: #5f6368;
}
.search-bar{
  border: 2px solid #1769e0;
  display: flex;
  border-radius: 50px;
  &__input{
    flex-grow: 1;
    padding: 0 1em;
    border: 0;
    background: transparent;
  }
  &__input:focus{
    outline: 0;
  }
  &__submit{
    cursor: pointer;
    border: 0;
    background: transparent;
    border-radius: 50px;
    background: #d7effe;
  }
}
.user-logo{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #5f6368;
  border-radius: 50%;
  cursor: pointer;
  background: #3ddc84;
  border-radius: 50%;
}

._dropdown{
  position: absolute;
  width: 376px;
  height: 296px;
  opacity: 0;
  z-index: 2;
  background: #d7effe;
  border-radius: 2em;
  list-style: none;
  cursor: default;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding: 0.5rem;
  transform: translateX(-40%) translateY(60%);
  box-shadow: 0 1px 10px rgba(0,0,0,.2);
  transition: opacity .1s ease-out;
}
.has-dropdown:focus-within ._dropdown{
  opacity: 1;
  pointer-events: auto;
}
.dropdown-profile-image{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  margin-right: 20px;
  background: #3ddc84;
  border-radius: 50%;
}
._dropdown-item{
  padding: 1rem;
  background: white;
}
.user-profile{
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}
.btn{
  border: 2px solid #dadce0;
}
.menu-item{
  padding-left: 2rem;
}
.last{
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
