.layout{
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.content{
  background-color: white;
  display: grid;
  row-gap: 1rem;
  padding: 3rem;
  border: 2px solid #dadce0;
  border-radius: 2em;
}
.con{
  width: 550px;
}
