<h1>Cart</h1>
<div class="order-layout">
  <!---table-->
  <table class="table">
    <tbody>
      <tr *ngFor="let item of cartItems">
        <td>
          <div class="d-flex justify-content-center align-items-center h-100">
            <img src={{item.productImg}} class="img-thumbnail"><img />
          </div>
        </td>
        <td>{{item.productName}}</td>
        <td>{{item.productPrice | currency:'฿'}}</td>
        <td>
          <div class="d-flex flex-column" style="row-gap: 5px;">
            <label for="quantity">Quantity:</label>
            <input class="form-control" type="number" name="quantity" style="width: 100px;" placeholder="1">
          </div>
        </td>
        <td><button class="btn btn-danger" (click)="deleteItem(item.cartID)">Delete</button></td>
      </tr>
    </tbody>
  </table>

  <!-- Order Summary -->
  <div>
    <div class="order-summary-card">
      <h4>Order Summary</h4>
      <div class="d-flex" style="column-gap: 1rem;">
        <input class="form-control w-auto" type="text" placeholder="enter promo code">
        <button class="btn btn-secondary rounded-5">Apply</button>
      </div>
      <div class="summary-grid">
        <div>Subtotal:</div>
        <div style="text-align: end;">1000</div>
        <div>discount:</div>
        <div style="text-align: end;">0</div>
        <div>final price:</div>
        <div style="text-align: end;">1000</div>
      </div>
      <button class="btn btn-primary rounded-5">Checkout</button>
    </div>
  </div>

</div>

<!--Address-->
<div class="account-payment">

  <div>
    <div class="order-summary-card">
      <h4>Order Summary</h4>
      <div class="d-flex" style="column-gap: 1rem;">
        <input type="text" placeholder="enter promo code">
        <button class="btn btn-secondary rounded-5">Apply</button>
      </div>
      <div class="summary-grid">
        <div>Subtotal:</div>
        <div style="text-align: end;">1000</div>
        <div>discount:</div>
        <div style="text-align: end;">0</div>
        <div>final price:</div>
        <div style="text-align: end;">1000</div>
      </div>
      <button class="btn btn-primary rounded-5">Checkout</button>
    </div>
  </div>

  <!-- Payment -->
  <div class="payment-card">
    <div class="card">
      <div class="card-header p-0">
        <h2 class="mb-0">
          <button class="btn btn-light btn-block text-left p-3 rounded-0" data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="d-flex align-items-center justify-content-between">

              <span>Credit card</span>
              <div class="icons">
                <img src="https://i.imgur.com/2ISgYja.png" width="30">
                <img src="https://i.imgur.com/W1vtnOV.png" width="30">
                <img src="https://i.imgur.com/35tC99g.png" width="30">
                <img src="https://i.imgur.com/2ISgYja.png" width="30">
              </div>

            </div>
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body payment-card-body">

          <span class="font-weight-normal card-text">Card Number</span>
          <div class="input">
            <i class="fa fa-credit-card"></i>
            <input type="text" class="form-control" placeholder="0000 0000 0000 0000">
          </div>

          <div class="row mt-3 mb-3">
            <div class="col-md-6">
              <span class="font-weight-normal card-text">Expiry Date</span>
              <div class="input">
                <i class="fa fa-calendar"></i>
                <input type="text" class="form-control" placeholder="MM/YY">
              </div>
            </div>

            <div class="col-md-6">

              <span class="font-weight-normal card-text">CVC/CVV</span>
              <div class="input">
                <i class="fa fa-lock"></i>
                <input type="text" class="form-control" placeholder="000">
              </div>
            </div>
          </div>
          <div class="row">
            <span class="text-muted certificate-text"><i class="fa fa-lock"></i> Your transaction is secured with ssl
              certificate</span>
            <button class="btn btn-primary mt-3 mb-3">Checkout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


