.card {
  border: none;
}
.img-thumbnail{
  aspect-ratio: 1 / 1 ;//unnecessary

  //resize image
  width: auto;
  height: 100px;
}
.card-header {
  padding: .5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: none;
}

.form-control {
  height: 50px;
  border: 2px solid #eee;
  border-radius: 6px;
  font-size: 14px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #039be5;
    outline: 0;
    box-shadow: none;
}

.input {
  position: relative;
  & i{
    position: absolute;
      top: 16px;
      left: 11px;
      color: #989898;
  }
  & input{
    text-indent: 25px;
  }
}

.card-text {
  font-size: 13px;
  margin-left: 6px;
}

.certificate-text {
  font-size: 12px;
}

.payment-card-body {
  flex: 1 1 auto;
  padding: 24px 1rem !important;
}

.summary-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.order-layout{
  display: flex;
  column-gap: 5rem;
}
.img-thumbnail{
  width: auto;
  height: 150px;
}
label{
  font-size: .9rem;
  font-weight: 500;
}
.order-summary-card{
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  position: sticky;
  top: 80px;
  margin: 1.5rem;
  padding: 32px;
  background-color: #e1f2fe;
  color: #2d5ab8;
  border-radius: 2em;
}
.account-payment{
  display: flex;
}
.account-card{
  display: flex;
  flex-direction: column;
}
