body {
    color: #737585;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .card-flex {
    display: flex;
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
  
    .icon {
      display: flex;
      place-items: center;
      border-radius: 8px;
    }
  
    .card-body {
      .chart {
        width: 100%;
        height: auto;
      }
    }
  }
