<div class="card">
    <div class="card-header blue">
      Add Product
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="productImg">Product Image Url:</label>
          <input type="text" id="productImg" class="form-control" [(ngModel)]="newProduct.productImg" name="productImg" required>
        </div>
        <div class="form-group">
          <label for="productName">Product Name:</label>
          <input type="text" id="productName" class="form-control" [(ngModel)]="newProduct.productName" name="productName" required>
        </div>
        <div class="form-group">
          <label for="productCategory">Product Category:</label>
          <select id="productCategory" class="form-control" [(ngModel)]="newProduct.productCategory" name="productCategory" required>
            <option value="" disabled>กรุณาเลือก</option>
            <option *ngFor="let category of categories" [value]="category">{{category}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="productDesc">Product Description:</label>
          <textarea id="product-desc" rows="5" name="productDesc" class="form-control form-control-lg" [(ngModel)]="newProduct.productDesc"></textarea>
        </div>
        <div class="form-group">
          <label for="productPrice">Product Price:</label>
          <input type="number" id="productDesc" class="form-control" [(ngModel)]="newProduct.productPrice" name="productPrice" required>
        </div>

        <button type="submit" class="btn btn-primary" (click)="addProduct(newProduct)">Add Product</button>
      </form>
    </div>
  </div>