<div class="modal" tabindex="-1" [ngClass]="{'d-block': showModal}">
    <div class="modal-dialog container" (click)="$event.stopPropagation()">
      <div class="modal-content w-100">
        <div class="modal-header">
          <h1 class="modal-title fs-4">อัปเดตรายการสินค้า</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <div id="accordion" role="tablist">
            <div class="card" role="presentation">
              <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                  <a data-bs-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    รายละเอียดสินค้า
                  </a>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" data-bs-parent="#accordion" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                  <form>
                    <div class="mb-3" *ngIf="selectedProduct">
                      <label for="product-img" class="form-label">รูปสินค้า</label>
                      <textarea id="product-img" rows="3" name="productImg" class="form-control form-control-lg" [(ngModel)]="selectedProduct.productImg"></textarea>
                    </div>
                    <div class="mb-3" *ngIf="selectedProduct">
                      <label for="product-name" class="form-label">ชื่อสินค้า</label>
                      <input type="text" id="product-name" name="productName" class="form-control form-control-lg" [(ngModel)]="selectedProduct.productName">
                    </div>
                    <div class="mb-3" *ngIf="selectedProduct">
                      <label for="product-category" class="form-label">ประเภทสินค้า</label>
                      <select id="product-category" name="productCategory" class="form-control form-control-lg" [(ngModel)]="selectedProduct.productCategory">
                        <option value="" disabled>--เลือกประเภทสินค้า--</option>
                        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                      </select>
                    </div>
                    <div class="mb-3" *ngIf="selectedProduct">
                      <label for="product-desc" class="form-label">คำอธิบายสินค้า</label>
                      <textarea id="product-desc" rows="5" name="productDesc" class="form-control form-control-lg" [(ngModel)]="selectedProduct.productDesc"></textarea>                    
                    </div>
                    <div class="mb-3" *ngIf="selectedProduct">
                      <label for="product-price" class="form-label">ราคาสินค้า</label>
                      <input type="number" id="product-price" name="productPrice" class="form-control form-control-lg" [(ngModel)]="selectedProduct.productPrice">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-primary" (click)="updateProduct()">Save changes</button>
        </div>
      </div>
    </div>
</div>